<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m" style="margin:0 auto">
  <h2 class="uk-card-title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field" style="margin:10px 0">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, class: "uk-input" %>
    </div>

    <div class="field" style="margin:10px 0">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input" %>
    </div>

    <div class="field" style="margin:10px 0">
      <%= f.label :password %>
      <% if @validatable %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "uk-input" %>
    </div>

    <div class="field" style="margin:10px 0">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "uk-input" %>
    </div>

    <div class="actions" style="margin:10px 0">
      <%= f.submit class: "uk-button uk-button-primary uk-button-large", id: "submit"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>